@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url("/booChat-bg-6.jpg");
    /* opacity: 80%; */
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
}



.scroll-container::-webkit-scrollbar {
    width: 5px;
}

.scroll-container::-webkit-scrollbar-track {
    background: #000000;
}

.scroll-container::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 3px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #242424;
}
